.footer {
    display: flex;
    background-color: #010A20;
    padding: 28px;
    /* width: 100%; */
    color: #fff;
}

.footer_logo {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 23.96px;
    line-height: 90.5%;
}

.footer_logo p {
    color: #DD2242;
}

.footer_logo img {
    width: 51px;
    height: 51px;
}

.footer_menu {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    width: 355px;
    margin-top: 10px;
    margin-left: 100px;
    list-style: none;
    padding: 0;
    gap: 38px;
}


.footer_repost {
    display: flex;
    margin: auto;
    font-weight: bold;
}

.footer_repost_elem1 {
    word-spacing: 20px;
}

.footer_repost_elem2 {
    margin-left: 20px;
}


/* Мобильная версия */
@media (max-width: 768px) {
    .footer {
        display: flex;
        background-color: #010A20;
        padding: 100px;
        color: #fff;
        flex-direction: column;
    }
    
    .footer_logo {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 23.96px;
        line-height: 90.5%;
        margin: 0 auto;
    }
    
    .footer_logo p {
        color: #DD2242;
    }
    
    .footer_logo img {
        width: 51px;
        height: 51px;
    }
    
    .footer_logo + .footer_nav {
        margin-top: 38px;
    }

    .footer_menu {
        display: flex;
        font-size: 23px;
        font-weight: bold;
        width: 355px;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }
    
    .footer_repost {
        display: flex;
        margin: 38px;
        flex-direction: column;
        text-align: center;
        gap: 38px;
        font-size: 23px;
        font-weight: bold;
    }
    
    .footer_repost_elem1 {
        word-spacing: 20px;
    }
    
    .footer_repost_elem2 {
        margin-left: 20px;
    }
}